In [38]:
#Importing the library for connection, and dataframe
import pymongo
import pandas as pd
import os

In [39]:
with open(r"D:\Machine_Learning\Project\us_visa_approval_prediction\secret.txt", "r") as file:
    content = file.read()

In [40]:
os.getcwd()

'd:\\Machine_Learning\\Project\\us_visa_approval_prediction\\notebook'

In [41]:
df = pd.read_csv("Visadataset.csv")

In [42]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [43]:
df.shape

(25480, 12)

In [44]:
data = df.to_dict(orient='records') #To push this data into the database, we need to convert this into a dictionary form.

In [45]:
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa-data"

In [54]:
client = pymongo.MongoClient(content)
database = client[DB_NAME]
collection = database[COLLECTION_NAME]
collection.insert_many(data)

In [56]:
df = pd.DataFrame(list(collection.find()))

In [57]:
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,65e4061be7ccefae26c38d8e,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,65e4061be7ccefae26c38d8f,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,65e4061be7ccefae26c38d90,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,65e4061be7ccefae26c38d91,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,65e4061be7ccefae26c38d92,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [58]:
df.shape

(25480, 13)

In [1]:
from us_visa.exceptions import UserExceptions

ModuleNotFoundError: No module named 'us_visa'

In [4]:
pwd

'd:\\Machine_Learning\\Project\\us_visa_approval_prediction\\notebook'